@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Styles pour tous les écrans */
* {
    box-sizing: border-box;
}

/* Styles pour l'image header */
.image_header {
    width: 100%;
    height: 100%;
    /* background-image: url("https://images.unsplash.com/photo-1517245386807-5a4f0f49b3f0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3b2b2b2b2b2b2b2b2b2b2b2b2b2b2b2&auto=format&fit=crop&w=1350&q=80"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Styles pour le titre dans l'image header */
.image_title_header {
    position: absolute;
    top: 51px;
    color: white;
    left: 69px;
    width: 207px;
    height: 25px;
}

/* Styles pour le texte du header */
.text_header {
    font-family: 'Anton', sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 66px;
    position: absolute;
    color: #FFD15B;
    top: 196px;
    text-align: center;
    width: 890px;
    height: 132px;
    left: 190px;
}

/* Styles pour le bloc de recherche dans le header */
.search_header {
    position: absolute;
    top: 400px;
    width: 70%;
    display: flex;
    justify-content: center;
    left: 15%;
}

/* Styles pour l'input de recherche */
.input_header {
    background-color: white;
    border-radius: 10px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Styles pour l'input de recherche */
.input_search {
    flex-grow: 2;
    display: flex;
    border: none;
    margin-left: 15px;
}

/* Styles pour le logo dans l'input de recherche */
.logo_header {
    background-color: black;
    padding: 8px;
    /* height: 5vh; */
    border-radius: 10px;
    margin-right: 7px;
    cursor: pointer;
}

/* Styles pour le conteneur des listes */
.container_lists {
    display: flex;
}

/* Styles pour les listes */
.list {
    list-style: none;
}

/* Styles pour les boutons de recherche (ingrédients, appareils, ustensiles) */
.search_ingredients,
.search_appliance,
.search_ustensils {
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 30px;
    width: 180px;
    border: none;
    margin-top: 20px;
    margin-left: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 19px 13px;
}

/* Styles pour le bloc principal (main) */
.main {
    background: #EDEDED;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -5px;
    height: 600px;
}

/* Styles pour les icônes d'angle de recherche */
.search_angle_1,
.search_angle_2,
.search_angle_3 {
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 8px;
}

/* Styles pour les icônes d'angle de recherche lorsqu'ils sont tournés */
.search_angle_1.rotate,
.search_angle_2.rotate,
.search_angle_3.rotate {
    transform: rotate(180deg);
}

/* Styles pour le texte en majuscules */
.capitalize {
    text-transform: capitalize;
}

/* Styles pour les éléments avec une bordure */
.border {
    border: 1px solid;
}

/* Styles pour la liste d'ingrédients */
.listIngredients {
    margin-right: -71px;
    padding-left: 22px;
}

/* Styles pour les champs de recherche (ingrédients, appareils, ustensiles) */
/* Styles de base pour les éléments du menu déroulant */
#ingredients,
#appliance,
#ustensiles {
    float: left;
    overflow: hidden;
    font-size: 16px;
    margin: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: auto;
    min-height: 66px;
    background-color: #ffffff;
    transition: max-height 0.3s ease-in-out;
}

/* Styles pour les éléments déployés */
#ingredients.open,
#appliance.open,
#ustensiles.open {
    max-height: 574px;
    display: flex;
    flex-direction: column;
}

/* Styles pour le fond jaune */
.listAppliance {
    background: #ffffff;
    font-weight: bold;
    list-style-type: none;
}

/* Styles pour les éléments de la liste d'appareils */
.listAppliance li {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 10px;
    padding-left: 15px;
    height: 50px;
    width: 180px;
}

/* Styles pour le texte à l'intérieur des éléments de la liste d'appareils */
.listAppliance div {
    padding-top: 7px;
    background: #FFD15B;
}
